.div1 {
    
    position: relative;
    width: 100%; 
    height: 600px; 
    z-index: 1;
    background: linear-gradient(rgba(5, 5, 5, 0.8), rgba(10, 10, 10, 0.6)),
    url("../../public/images/hr-banner6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.text1 {
    text-align: center;
    z-index: 2;
  }
  .text1 h3{
    color: rgb(231, 228, 228);
    font-size: 1.5rem;
  }
  .text1 h1{
    font-size: 2.5rem;
    color: rgb(68, 66, 66);
  }
  .heading11{
    font-size: 2.5rem;
    color: rgb(253, 253, 253);
  }
  
  .heading22{
    font-size: 1rem;
    color: rgb(160, 156, 156);
  }

  .main-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(45deg, #7fd64a, #4a90e2); 
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px; 
    text-align: left; 
    background: transparent;
   
  }
  
  h2 {
    color: #333;
    margin-bottom: 30px; 
  }
  
  p {
    color: #000000;
    line-height: 1.5; 
    font-size: 18px;
  }