.box{
    width: 100%;
    background: linear-gradient(160deg, #243e5a, #111 100%, #632f94);
    height: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
  }

.innerbox{
    color: rgb(182, 174, 174); 
    text-align: center;
    padding: 20px 5px;
    flex: 1;
    box-sizing: border-box;
}  