.full-width-div {
  background-size: cover;
  position: relative;
  width: 100%; 
  height: 600px; 
 
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.overlay-text h3{
  color: rgb(182, 175, 175);
  font-size: 1.5rem;
}
.heading1{
  font-size: 2.5rem;
  color: rgb(253, 253, 253);
}

.heading2{
  font-size: 1.2rem;
  color: rgb(160, 156, 156);
}

.upload-button {
  background-color: inherit;
  color: #ffffff; /* Set the text color */
  border: 0.1rem solid;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 15px; /* Set the border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.upload-button:hover {
  background-color: rgb(185, 185, 49); /* Set the background color on hover */
  cursor: pointer;
  color: black;
  font-weight: 101;
}


.container3{
  margin: 2px 0px;
  width:100%;
  height: 250px;
  background-color: #36446d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
}

.container3-items{
  color: white;
  flex: 1; 
  margin: 30px 0px;
  text-align: center;
  padding: 20px 0px ;
  box-sizing: border-box;
}

.container3-items :hover{
  cursor: pointer;
  color: rgb(160, 160, 82);
}
.container3-items h1{
  font-size: 3rem;
}
.container3-items p{
  font-size: 18px;
}

.container2 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 50px;
  background: linear-gradient(160deg, #243e5a, #111 100%, #632f94);
}
.container2 hr{
  color: white;
  width: 60%;
 margin: auto;
 padding-bottom: 20px;
}

.title-container {
  width: 100%;
  text-align: center;
}
.title-container h1{
  padding-bottom: 10px ;
  font-size: 2rem;
  color: rgb(136, 124, 124);
 
}

.test-items {
  flex-basis: calc(25% - 60px);
  margin: 10px 0px;
  text-align: center;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0F0F11;
  border-radius: 10px;
}

.test-items h4,p{
  padding: 0;
  margin: 0; /* Remove default margin */
  color:#ccced1;
  font: 18px inter,sans-serif;
  font-size: 23px;
  font-weight:10px;
}

.test-items p {
  font-size: 15px;
  padding: 10px;
}


.test-items:hover {
  
  transform: translateY(-10px); /* Move the test items up on hover */
  color: white;
  border-radius: 10px;
}